.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #19cec6;
    border-top: 4px solid #1f2973;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
